body
{
    color: rgb(31, 31, 23);
    text-align: center;
    font-family: "Arial";
    font-size: 18px;
}
#cabecera{
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}